body {
    font-family: Verdana, sans-serif;
    background: #dff5e3;   
}

.wrapper {
    width: 45%;
    margin: 60px auto;
    background: #ffffffcc;  
    padding: 25px;
    border-radius: 12px;
    box-shadow: 2px 4px 15px rgba(0,0,0,0.25);
}

input,
textarea,
select {
    width: 100%;
    padding: 9px;
    margin-bottom: 12px;
}

.radio-group {
    display: flex;
    gap: 25px;
    margin-bottom: 12px;
}

.radio-group label {
    display: flex;
    align-items: center;
    gap: 6px;
}

button {
    background: #00916e;
    color: white;
    padding: 10px;
    font-size: 15px;
    border: none;
    width: 100%;
    cursor: pointer;
}

button:hover {
    background: #006f54;
}
